<footer class="footer">
  <div class="container footer__inner">
    <div class="footer__left">
      <div class="footer__title">Тимур Надршин</div>
      <div class="footer__muted">Системный аналитик · требования · BPMN/UML · API</div>
    </div>

    <div class="footer__right">
      <a href="mailto:nadrshin.timur@mail.ru">nadrshin.timur@mail.ru</a>
      <span class="dot">•</span>
      <a href="https://github.com/bivaettttt" target="_blank" rel="noopener">GitHub</a>
    </div>
  </div>
</footer>